<% provide(:title, "Complete the Test") %>

<h3>Complete the Test</h3>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@session) do |f| %>

      <%= f.label :age %>
      <%= f.text_field :age %>

      <%= f.label :years_exp %>
      <%= f.text_field :years_exp %>
      
      <%= f.label :primary_browser %>
      <%= f.text_field :primary_browser %>

      <%= f.label :primary_os %>
      <%= f.text_field :primary_os %>

      <%= f.submit "Submit and View Results", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>