<% provide(:title, "Complete the Test") %>

<div class="grey-box">
  <h3>Complete the Test</h3>
  <div>
    <%= form_for(@session) do |f| %>

      <%= f.label "Age Range" %>
      <%= f.text_field :age %>

      <%= f.label "Approximate years of experience with computers" %>
      <%= f.text_field :years_exp %>
      
      <%= f.label "The desktop web browser you are most comfortable using" %>
      <%= f.text_field :primary_browser %>

      <%= f.label "The desktop operating system you are most comfortable using" %>
      <%= f.text_field :primary_os %>

      <%= f.submit "Submit and View Results", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>