<% provide(:title, 'Home') %>
<div class="homepage">
  <%= image_tag("eye-icon.png", class: 'eye-icon') %>
  <h2 class="text-center welcome-header">Icon Recognition Test</h2>
  <br />
  <p class="welcome-text">This website administers a brief test of your speed and accuracy in selecting graphical icons of different visual styles.</p>
	<p class="welcome-text">Before participating in this study, please read the following study details:</p>
	<div class="info-sheet">
		<ol>
			<li>The purpose of this study is to identify whether certain specific visual factors of icon design style lead to faster, more accurate recognition by users than others. The principal investigator is Curt Arledge, a graduate student in the School of Information & Library Science at the University of North Carolina at Chapel Hill. You may contact the investigator with questions at <%= link_to "carledge@live.unc.edu", 'mailto:carledge@live.unc.edu' %>. The faculty advisor is Robert Capra: <%= link_to "rcapra@unc.edu", 'mailto:rcapra@unc.edu' %>.
			</li>
			<li>The test consists of 24 successive “search and select” trials. For each trial, you will be shown a randomized array of 20 icons and a prompt with the name of one icon. Balancing speed and accuracy, select the icon that matches the name in the prompt.</li>
			<li>After completing all 24 trials, you will be asked to answer a few brief questions about your age group, preferred operating system, and preferred mobile device. You will then be shown a page with your results from the test.</li>
			<li>No personally identifying information will be recorded for use in this study.</li>
			<li>The test takes about 5-10 minutes.</li>
			<li>You may stop taking the test at any time.</li>
			<li>Please take the test only once.</li>
		</ol>
	</div>
  <p class="welcome-text">By proceeding, you indicate that you are over 18 years of age and give your consent to participate in this study.
  </p>

  <%= form_for(@session) do |f| %>

  	<%= f.hidden_field :test_browser, value: (browser.name.downcase), class: "test-browser" %>
  	<%= f.hidden_field :test_os, value: browser.platform, class: "test-os" %>
		<%= f.submit "Loading images...", class: "start-test btn btn-large btn-custom btn-primary", disabled: true %>
	<% end %>
</div>