<% provide(:title, 'Results') %>

<div id="results">
	
	<h2>Results</h2>
	
	<% #Number Correct %>
	<p class="results-text">You selected <strong><%= "#{@session.trials.where(task_success: true).count}"%> out of 24</strong> icons correctly<br />with an average speed of <strong><%= "#{(@session.trials.average("task_time") / 1000).round(3)}" %> seconds</strong>.</p>
	
	<% #Percentile Score %>
	<p class="results-text">You were faster than <strong>90%</strong> of all other participants.</p>

	<% #Fastest Trials %>
	<div class="superlative-trial fastest">
		<h3>Fastest Trials</h3>
		<div class="fastest-trial trial">
			<%= image_tag("form#{@fastest[0].target_form}-#{@fastest[0].style}-#{@fastest[0].color}.png") %>
			<p><strong><%= "#{@fastest[0].task_time.to_f / 1000}"%></strong> seconds
			<br />
			<span class="superlative">FASTEST</span></p>
		</div>
		<% i = 1 %>
		<% 4.times do %>
		<div class="trial">
			<%= image_tag("form#{@fastest[i].target_form}-#{@fastest[i].style}-#{@fastest[i].color}.png") %>
			<p><strong><%= "#{@fastest[i].task_time.to_f / 1000}"%></strong> sec
			</p>
		</div>
		<% i += 1 %>
		<% end %>
	</div>
	
	<% #Slowest Trials %>
	<div class="superlative-trial slowest">
		<h3>Slowest Trials</h3>
		<div class="slowest-trial trial">
			<%= image_tag("form#{@slowest[0].target_form}-#{@slowest[0].style}-#{@slowest[0].color}.png") %>
			<p><strong><%= "#{@slowest[0].task_time.to_f / 1000}"%></strong> seconds
			<br />
			<span class="superlative">SLOWEST</span></p>
			</p>
		</div>
		<% i = 1 %>
		<% 4.times do %>
		<div class="trial">
			<%= image_tag("form#{@slowest[i].target_form}-#{@slowest[i].style}-#{@slowest[i].color}.png") %>
			<p><strong><%= "#{@slowest[i].task_time.to_f / 1000}"%></strong> sec
			</p>
		</div>
		<% i += 1 %>
		<% end %>
	</div>

	<% #Filter Results %>
	<div class="filter-results">
		<h3>Filter Results</h3>
		
		<div class="filter-select">
			<p class="filters">

				Show average 
				
				<%= select_tag :speed_accuracy, options_for_select([
					['speed', 'speed'],
					['accuracy', 'accuracy']], 'speed'),:class => 'speed_accuracy-select' %>
				
				for icons with 
				
				<%= select_tag :style, options_for_select([
					['either', 'either'],
					['solid', 'solid'],
					['hollow', 'hollow']], 'either'),:class => 'style-multiselect', :multiple => "multiple" %>
				
				style and 
				
				 <%= select_tag :color, options_for_select([
				 	['either', 'either'],
				 	['black on white', 'white_bg'],
				 	['white on black', 'black_bg']], 'either'),:class => 'color-multiselect', :multiple => "multiple" %>
				 
				color
			</p>
		</div>

		<div class="group1 grey-bg">
			<p class="for">For</p>
			<div>
				<%= radio_button_tag :group1, 'me', true, class: 'group1-input me'  %>
				<%= label_tag :group1_me, 'Me'  %>
				<%= radio_button_tag :group1, 'all-people', false, class: 'group1-input all-people'  %>
				<%= label_tag 'group1_all-people', 'All people', class: 'all-people-label'  %>
					<span class="elipses">...</span>
			</div>
			<div class="group1-filter hidden">
				
				<p class="filters">

					<%= select_tag :group1_age, options_for_select([
						['of all ages', 'all'],
						['between 18-25', '18-25'],
						['between 26-40', '26-40'],
						['between 41-60', '41-60'],
						['older than 60', '60_older']
						], 'all'),
						:class => 'group1-age-multiselect',
						:multiple => "multiple"  %>
					
					who took this test using
					
					<%= select_tag :group1_test_browser, options_for_select([
						['any browser', 'any'],
						["Chrome","chrome"],
						["Safari","safari"],
						["Firefox","firefox"],
						["IE","ie"],
						["Opera","opera"],
						["other browser","other"]
						], 'any'),
						:class => 'group1-test-browser-multiselect',
						:multiple => "multiple"  %>

					from
					
					<%= select_tag :group1_test_os, options_for_select([
						['any computer', 'any'],
						["Windows computer","ios"],
						["Mac computer","android"],
						["Linux computer","linux"],
						["other computer","other"]
						], 'any'),
						:class => 'group1-test-os-multiselect',
						:multiple => "multiple"  %>

					who are most comfortable using 
					
					<%= select_tag :group1_primary_os, options_for_select([
						['any desktop OS', 'any'],
						["Windows","windows"],
						["Mac","mac"],
						["Linux","linux"],
						["other desktop OS","other"]
						], 'any'),
						:class => 'group1-primary-os-multiselect',
						:multiple => "multiple"  %>

					and
					
					<%= select_tag :group1_primary_mobile, options_for_select([
						['any mobile OS', 'any'],
						["iPhone/iOS","ios"],
						["Android","android"],
						["Windows Mobile","windows-mobile"],
						["BlackBerry","blackberry"],
						["other mobile OS","other"]
						], 'any'),
						:class => 'group1-primary-mobile-multiselect',
						:multiple => "multiple"  %>
					
			 	</p>
			</div>
		</div>	
		<div class="group1-label group-label hidden">
				<span>GROUP 1</span>
		</div>

		
		<div class="compared-to">
			<p>Compared to<span class="caret"></span></p>
		</div>
		
		<div class="group2-filter grey-bg hidden">
			<p class="filters">

					All people

					<%= select_tag :group2_age, options_for_select([
						['of all ages', 'all'],
						['between 18-25', '18-25'],
						['between 26-40', '26-40'],
						['between 41-60', '41-60'],
						['older than 60', '60_older']
						], 'all'),
						:class => 'group2-age-multiselect',
						:multiple => "multiple"  %>
					
					who took this test using
					
					<%= select_tag :group2_test_browser, options_for_select([
						['any browser', 'any'],
						["Chrome","chrome"],
						["Safari","safari"],
						["Firefox","firefox"],
						["IE","ie"],
						["Opera","opera"],
						["other browser","other"]
						], 'any'),
						:class => 'group2-test-browser-multiselect',
						:multiple => "multiple"  %>

					from
					
					<%= select_tag :group2_test_os, options_for_select([
						['any computer', 'any'],
						["Windows computer","ios"],
						["Mac computer","android"],
						["Linux computer","linux"],
						["other computer","other"]
						], 'any'),
						:class => 'group2-test-os-multiselect',
						:multiple => "multiple"  %>

					who are most comfortable using 
					
					<%= select_tag :group2_primary_os, options_for_select([
						['any desktop OS', 'any'],
						["Windows","windows"],
						["Mac","mac"],
						["Linux","linux"],
						["other desktop OS","other"]
						], 'any'),
						:class => 'group2-primary-os-multiselect',
						:multiple => "multiple"  %>

					and
					
					<%= select_tag :group2_primary_mobile, options_for_select([
						['any mobile OS', 'any'],
						["iPhone/iOS","ios"],
						["Android","android"],
						["Windows Mobile","windows-mobile"],
						["BlackBerry","blackberry"],
						["other mobile OS","other"]
						], 'any'),
						:class => 'group2-primary-mobile-multiselect',
						:multiple => "multiple"  %>
					
			 	</p>
		</div>
		<div class="group2-label group-label hidden">
			<span>GROUP 2</span>
		</div>
		
		<div id="chart-container"></div>

	</div>
</div>