<% provide(:title, 'Results') %>

<div id="results" class="<%= "#{@session.id}" %>">
	
	<h2>Your Results</h2>
	<% #Number Correct %>
	<p class="results-text">You selected <strong><%= "#{@session.trials.where(task_success: true).count}"%> out of 24</strong> icons correctly with an average speed of <strong><%= "#{@avg_task_time.round(3)}" %> seconds</strong>.</p>
	
	<% #Percentile Score %>
	<p class="results-text">You were faster than <strong><%= "#{@speed_percentile}" %>%</strong> of people who took this test.</p>

	<% #Fastest Trials %>
	<div class="superlative-trial fastest">
		<h3>Fastest Trials</h3>
		<% if @fastest[0].task_success == true %>
			<% trial_display = "correct" %>
		<% else %>
			<% trial_display = "incorrect" %>
			<% @incorrect_notice = "incorrect_notice" %>
		<% end %>
		<div class="fastest-trial trial">
			<%= image_tag("form#{@fastest[0].target_form}-#{@fastest[0].style}-#{@fastest[0].color}.png") %>
			<p><span class=<%= trial_display %>><%= "#{@fastest[0].task_time.to_f / 1000}"%></span> seconds
			<br />
			<span class="superlative">FASTEST</span></p>
		</div>

		<% i = 1 %>
		<% 4.times do %>
		<% if @fastest[i].task_success == true %>
			<% trial_display = "correct" %>
		<% else %>
			<% trial_display = "incorrect" %>
			<% @incorrect_notice = "incorrect_notice" %>
		<% end %>
		<div class="trial">
			<%= image_tag("form#{@fastest[i].target_form}-#{@fastest[i].style}-#{@fastest[i].color}.png") %>
			<p><span class=<%= trial_display %>><%= "#{@fastest[i].task_time.to_f / 1000}"%></span> sec
			</p>
		</div>
		<% i += 1 %>
		<% end %>
	</div>
	
	<% #Slowest Trials %>
	<div class="superlative-trial slowest">
		<h3>Slowest Trials</h3>
		<% if @slowest[0].task_success == true %>
			<% trial_display = "correct" %>
		<% else %>
			<% trial_display = "incorrect" %>
			<% @incorrect_notice = "incorrect_notice" %>
		<% end %>
		<div class="slowest-trial trial">
			<%= image_tag("form#{@slowest[0].target_form}-#{@slowest[0].style}-#{@slowest[0].color}.png") %>
			<p><span class=<%= trial_display %>><%= "#{@slowest[0].task_time.to_f / 1000}"%></span> seconds
			<br />
			<span class="superlative">SLOWEST</span></p>
			</p>
		</div>
		
		<% i = 1 %>
		<% 4.times do %>
		<% if @slowest[i].task_success == true %>
			<% trial_display = "correct" %>
		<% else %>
			<% trial_display = "incorrect" %>
			<% @incorrect_notice = "incorrect_notice" %>
		<% end %>
		<div class="trial">
			<%= image_tag("form#{@slowest[i].target_form}-#{@slowest[i].style}-#{@slowest[i].color}.png") %>
			<p><span class=<%= trial_display %>><%= "#{@slowest[i].task_time.to_f / 1000}"%></span> sec
			</p>
		</div>
		<% i += 1 %>
		<% end %>
		<p class=<%= "#{@incorrect_notice}" %>>* Italic indicates incorrect selection</p>
	</div>


	<% #Filter Results %>
	<div class="filter-results">
		<h3>Filter Results</h3>
		
		<div class="filter-select">
			<p class="filters">

				Show average 
				
				<%= select_tag :speed_accuracy, options_for_select([
					['speed', 'speed'],
					['accuracy', 'accuracy']], 'speed'),:class => 'speed_accuracy_select' %>
				
				for icons, showing <strong>styles</strong> <%= image_tag("eye-icon-white_bg-vertical.png", class: 'inline-icon') %>
				
				<%= select_tag :style, options_for_select([
					['separately', 'both'],
					['combined', 'either']
					], 'both'),:class => 'style_select' %>
				
				and <strong>colors</strong> <%= image_tag("eye-icon-solid-vertical.png", class: 'inline-icon') %>
				
				 <%= select_tag :color, options_for_select([
				 	['separately', 'both'],
				 	['combined', 'either']
				 	], 'both'),:class => 'color_select' %>
				 
			</p>
		</div>

		<div class="group1 grey-bg">
			<p class="for">For</p>
			<div>
				<%= radio_button_tag :group1, 'me', true, class: 'group1-input me' %>
				<%= label_tag :group1_me, 'Me' %>
				<%= radio_button_tag :group1, 'all-people', false, class: 'group1-input all-people' %>
				<%= label_tag 'group1_all-people', 'All people', class: 'all-people-label' %>
					<span class="elipses">...</span>
			</div>
			<div class="group1-filter hidden">
				
				<p class="filters">

					<%= select_tag :group1_age, options_for_select([
						['of all ages', 'all'],
						['between 18-25', '18-25'],
						['between 26-40', '26-40'],
						['between 41-60', '41-60'],
						['older than 60', '60_older']
						], 'all'),
						:class => 'group1-age-multiselect' %>
					
					who use 
					
					<%= select_tag :group1_primary_os, options_for_select([
						['any desktop OS', 'any'],
						["Windows","windows"],
						["Mac","mac"],
						["Linux","linux"],
						["another desktop OS","other"]
						], 'any'),
						:class => 'group1-primary-os-multiselect' %>

					and
					
					<%= select_tag :group1_primary_mobile, options_for_select([
						['any mobile OS', 'any'],
						["iPhone/iOS","ios"],
						["Android","android"],
						["Windows Mobile","windows-mobile"],
						["BlackBerry","blackberry"],
						["another mobile OS","other"]
						], 'any'),
						:class => 'group1-primary-mobile-multiselect' %>
					
			 	</p>
			</div>
		</div>	
		<div class="group1-label group-label hidden">
				<span>GROUP 1</span>
		</div>

		
		<div class="compared-to">
			<p>Compared to<span class="caret"></span></p>
		</div>
		
		<div class="group2-filter grey-bg hidden">
			<p class="filters">

					All people

					<%= select_tag :group2_age, options_for_select([
						['of all ages', 'all'],
						['between 18-25', '18-25'],
						['between 26-40', '26-40'],
						['between 41-60', '41-60'],
						['older than 60', '60_older']
						], 'all'),
						:class => 'group2-age-multiselect' %>

					who use 
					
					<%= select_tag :group2_primary_os, options_for_select([
						['any desktop OS', 'any'],
						["Windows","windows"],
						["Mac","mac"],
						["Linux","linux"],
						["another desktop OS","other"]
						], 'any'),
						:class => 'group2-primary-os-multiselect' %>

					and
					
					<%= select_tag :group2_primary_mobile, options_for_select([
						['any mobile OS', 'any'],
						["iPhone/iOS","ios"],
						["Android","android"],
						["Windows Mobile","windows-mobile"],
						["BlackBerry","blackberry"],
						["another mobile OS","other"]
						], 'any'),
						:class => 'group2-primary-mobile-multiselect' %>
					
			 	</p>
		</div>
		<div class="group2-label group-label hidden">
			<span>GROUP 2</span>
		</div>
		
		<div id="chart-group">
			<div class="no_chart_data hidden">
				<div class="no_data_warning">
					<p class="g1_no_data hidden">No data for <strong>Group 1</strong>. Try setting less restrictive filters.</p>
					<p class="g2_no_data hidden">No data for <strong>Group 2</strong>. Try setting less restrictive filters.</p>
				</div>
			</div>
			<div id="chart-container"></div>
		</div>

	</div>
	
	<% #Sharing Options %>
	<div class="sharing">
		<h4>Help improve this study's data quality – invite others to take the test:</h4>
		<div id="sharer-container"></div>
	</div>
	<div class="email-signup">
			<p><a href="http://eepurl.com/OAXF1" target="_blank">Sign up</a> to receive an email when the full study results are published.</p>
		</div>
	<div class="image-credits">
		<p><strong>Image credits:</strong> Solid and hollow versions of trash can, cloud, flag, lock, radio, shopping cart, trophy, tools, and eye icons from Tab Bar Icons iOS 7 Volumes 1–3 by <a href="pixeden.com" target="_blank">Pixeden.com</a>. Solid versions of cog, person, and camera icons by <a href="http://modernuiicons.com/" target="_blank">modernuiicons.com</a>. Solid versions of microphone, magnifying glass, phone, thumbs up, scissors, star, key, and tags icons by <a href="http://developer.android.com/design/style/iconography.html" target="_blank">Android Developer Style Guidelines</a>. Solid and hollow versions of speech bubble icons by <a href="https://medium.com/design-ux/a93647e5a44b" target="_blank">Aubrey Johnson</a>. Social icons by <a href="http://dribbble.com/shots/1056675-Social-Media-Icons" target="_blank">Luke Taylor</a>.</p>
	</div>

</div>