<% provide(:title, "Trial #{@trial.sequence_order} of 24") %>

<% #Show pre-test instructions before first trial %>
<% if @trial.sequence_order == 1 %>
	<div id="pre-test-instructions">
		<div class="grey-box">
			<h3>The Icons</h3>
			<p>These are the pre-test instructions. You are shown all 20 icons and given as much time as needed to memorize them</p>
			<button id="test-start" class="btn btn-default">Start Test</button>
		</div>
	</div>
<% end %>

<% #Clicking start hides target icon box and starts timer %>
<div id="target-icon-box">
	<div class="grey-box">
		<h4>Trial <%= "#{@trial.sequence_order}" %> of 24</h4>
		<p>When you are ready, press Start to begin the trial. A word will appear in the center of the screen surrounded by 20 different icons. Balancing speed and accuracy, select the icon that matches the word.</p>
		<button id="trial-start" class="btn btn-default">Start</button>
	</div>
</div>

<% #Circle array of 20 icons %>
<% #Each icon eventually needs to send a POST with time/success value %>
<% i = 0 %>
<% position = (1..20).to_a.shuffle %>
<% form_num = (1..20).to_a.shuffle %>

<div id="icon-array">
	<% while i < 20 %>
		<% if @trial.target_form == form_num[i].to_s %>
			<% classes = "p#{position[i]} target" %>
			<% task_success = true %>
		<% else %>
			<% classes = "p#{position[i]}" %>
			<% task_success = false %>
		<% end %>
		
		<%=form_for @trial do |f| %>
			
			<% #f.hidden_field :task_start %>
			<% #f.hidden_field :task_end %>
			<%= f.hidden_field :task_success, :value => task_success %>

      <%= image_submit_tag("form#{form_num[i]}-#{@trial.style}-#{@trial.color}.png", class: classes) %>
		<% end %>

		<% i += 1 %>
	<% end %>
	<div id="target-word"><h3 class="text-center"><%= "#{@trial.target_form}" %></h3></div>
</div>

<% #For debugging %>
<div class="debugger"><%= @trial.inspect %></div>