<% provide(:title, "Trial #{@trial.sequence_order} of 24") %>

<% #Show pre-test instructions before first trial %>
<% if @trial.sequence_order == 1 %>
	<div class="scrim top">
		<div id="pre-test-instructions">
				<h3>The Icons</h3>
				<p>Shown below are the 20 icons used in this test. Take as much time as you need now to familiarize yourself with each icon and its name. When you are ready to begin the test, click the button below.</p>
			<% i = 1 %>
			<% 20.times do %>
				<div class="titled-icon">
					<div>
						<%= image_tag("form#{i}-solid-white_bg.png") %>
						<%= image_tag("form#{i}-hollow-white_bg.png") %>
					</div>
					<h5 class = "text-center"><%= "#{@trial_form[i]}" %></h5>
				</div>
				<% i += 1 %>
			<% end %>
			<button id="test-start" class="btn btn-custom btn-default">Begin First Trial</button>
		</div>
	</div>
<% end %>

<div class="scrim middle">
	<div id="pre-trial-box" class="grey-bg">
		<h4 class="text-center">Trial <%= "#{@trial.sequence_order}" %> of 24</h4>
		<p>When you are ready, press Start to begin the timed trial. A word will appear in the center of the screen surrounded by 20 randomly positioned icons. Balancing speed and accuracy, select the icon that matches the word.</p>
		<button id="trial-start" class="btn btn-custom btn-default">Start</button>
	</div>
</div>

<% #Circle array of 20 icons %>
<% i = 0 %>
<% position = (1..20).to_a.shuffle %>
<% form_num = (1..20).to_a.shuffle %>

<div id="icon-array">
	<% if @trial.color == "black_bg" %>
		<div class="circle circle-top"></div>
		<div class="circle circle-bottom"></div>
	<% end %>
	<% while i < 20 %>
		<% if @trial.target_form == form_num[i].to_s %>
			<% classes = "icon p#{position[i]} target" %>
			<% task_success = true %>
		<% else %>
			<% classes = "icon p#{position[i]}" %>
			<% task_success = false %>
		<% end %>
		
		<%=form_for @trial, remote: true, authenticity_token: true do |f| %>
			
			<%= f.hidden_field :task_time, class: "task-time" %>
			<%= f.hidden_field :task_success, :value => task_success %>

      <%= image_submit_tag("form#{form_num[i]}-#{@trial.style}-#{@trial.color}.png", class: "#{classes}") %>
		<% end %>

		<% i += 1 %>
	<% end %>
	<div id="target-word"><h2 class="text-center"><%= "#{@trial_form[@trial.target_form.to_i]}" %></h3></div>
</div>