<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
		<%= render 'layouts/shim' %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div id="small-screen-scrim">
			<div class="warning">
				<h4>Sorry, your screen is too small for this test.</h4>
				<p>To participate, please use a device with a larger screen. This test is not available on most mobile devices. </p>
				<p>If you are already using a desktop device, please increase the size of your browser window.</p>
			</div>
		</div>
		<div id="content">
			<%= yield %>
		</div>
	</body>
</html>
